.events {
    background: url("../../images/events-bg.png") no-repeat;
    background-size: cover;
    min-height: 675px;
}

.events__title {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    color: #ffffff;
    padding-top: 45px;
}

.left__img {
    position: absolute;
    margin-left: 65px;
    margin-top: 5px;
}

.left__square {
    position: relative;
    right: 25%;
    top: 75px;
}

.left__text {
    position: relative;
    left: 310px;
    bottom: 205px;
    width: 478px;
    height: 85px;
    background-color: #000000;
    font-family: 'Banny Bold Round';
    font-size: 24px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-indent: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(90deg);
}

.right__img {
    position: absolute;
    margin-left: 150px;
    margin-top: 5px;
}

.right__square {
    position: relative;
    margin-left: 35px;
    left: 87%;
    top: 70px;
}

.right__text {
    position: relative;
    bottom: 205px;
    width: 478px;
    height: 85px;
    background-color: #000000;
    font-family: 'Banny Bold Round';
    font-size: 24px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-indent: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

.events__contacts {
    margin-top: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
